

@color-primary-0: #617E95;	/* Main Primary color */
@color-primary-1: #A2B2BE;
@color-primary-2: #7D94A5;
@color-primary-3: #476A85;
@color-primary-4: #2D5573;

@color-secondary-1-0: #965F96;	/* Main Secondary color (1) */
@color-secondary-1-1: #BFA1BF;
@color-secondary-1-2: #A67CA6;
@color-secondary-1-3: #864386;
@color-secondary-1-4: #742974;

@color-secondary-2-0: #D1DF8D;	/* Main Secondary color (2) */
@color-secondary-2-1: #F2F9D2;
@color-secondary-2-2: #EBF6B7;
@color-secondary-2-3: #B6C764;
@color-secondary-2-4: rgb(56,	185,	145	); //#99AC3D;

@color-complement-0: #E7C392;	/* Main Complement color */
@color-complement-1: #FFEED7;
@color-complement-2: #FFE3BE;
@color-complement-3: darken(#F2BE22,10%);//darken(rgb(231,	166,	54	),5%);//#CEA268;
@color-complement-4: #B2813F;

@red: #F65314;
@red-google: #EA4335;

@blue-ms: #00A1F1;
@blue-google: #4285F4;

@yellow-google: #FBBC05;

@green-ms: #7CBB00;
@green-google: #34A853;



button.disabled {
    display: none;
}


.demo-footer {
        position: relative;
        &::after {
                    content: "";
                    width: 40px;
                    height: 15px;
                    bottom: 7px;
                    right: 7px;
                    border-radius: 4px;
                    background: radial-gradient(circle at 6px -17px, rgba(225, 225, 225, 0.1) 60%, #ffffff);
                    position: absolute;
                    z-index: 1;
        }
    }



.add-top-reflect(@color) {
        position: relative;
       z-index: 0;
      label {
        position: relative;
        z-index: 2;
      }
         &::before {
            content: "";
            width: 45px;
            height: 28px;
            top: 1px;
            left: 2px;
            border-top-left-radius: 4px;
            background: radial-gradient(circle at 38px 38px, @color 70%, rgba(255, 255, 255, 0.6) 88%);
            position: absolute;
            z-index: 1;
            }
        &::after {
            content: "";
            width: 30px;
            height: 10px;
            top: 1px;
            right: 1px;
            border-radius: 4px;
            background: radial-gradient(circle at 4px 29px, @color 68%, rgba(255, 255, 255, 0.6) 88%);
            position: absolute;
            z-index: 1;
            }
}
.add-bottom-reflect(@color){
        position: relative;
         &::before {
               content: "";
                   width: 40px;
                   height: 16px;
                   bottom: 1px;
                   left: 1px;
                   border-bottom-left-radius: 6px;
                   background: radial-gradient(circle at 5px 23px, rgba(255, 255, 255, 0.9),@color 55%);
                   position: absolute;
                   z-index: 1;
                }
        &::after {
                    content: "";
                    width: 43px;
                    height: 15px;
                    bottom: 2px;
                    right: 1px;
                    border-bottom-right-radius: 3px;
                    background: radial-gradient(circle at 6px -17px, @color 60%,rgba(255, 255, 255, 0.6));
                    position: absolute;
                    z-index: 1;
        }

}


.add-body-reflect(@color){
     background: linear-gradient(90deg,
                    darken(@color,10%),
                    lighten(@color,70%) 1%,
                    @color 2%,
                    @color,
                    @color 98%,
                    lighten(@color,70%)  99%,
                    darken(@color,10%)) ;
}

.card(@color) {
    @bck-color: lighten(@color,35%);
    @border-color: desaturate(@color,20%);
    margin: 7px;
    border-radius: 6px;
    border: 1px solid @border-color;
    width: 400px;
    box-shadow: 2px 3px 7px 0px #333;

    .card-header {
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        background-color: @color;
        padding: 10px 5px 5px 15px;
        .add-top-reflect(@color);
        color: contrast(@color,#fff, #555);
    }


    .card-body {
        height: 100%;
        padding:10px;
       .add-body-reflect(@bck-color);
    }

    .card-footer {
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        background-color: @color;
        padding: 0px;
        height: 1.3em;
        .add-bottom-reflect(@color);
    }
}


.card-string {
    .card(@color-secondary-1-0);
}

.card-numeric {
    .card(@color-primary-3);
}

.card-inst {
    .card(@color-complement-3);

}

.card-enum {
    .card(@color-secondary-2-4);
}

.card-bool {
    .card(grey);
}


.card-action-light {
    .card(@color-primary-2);
}


.card-action {
    .card(@color-primary-3);
}

.card-action-dark {
    .card(@color-primary-4);
}

.card-red {
    .card(@red-google);
}

.card-blue {

    .card(@blue-google);
}

.card-yellow {

    .card(@yellow-google);
}

.card-green {

    .card(@green-google);
}

.card- {
    .card(lightgrey);
}


//________________________________________________
//                                                |
//         Main container                         |
//                                                |
//________________________________________________|


@body-color: lighten(black,17%);
@font-color: lighten(@body-color, 50%);
@header-bck-color: lighten( @body-color,5%);
@section-header-bck-color: lighten( @body-color,9%);
@section-desc-bck-color: lighten( @body-color,13%);
@section-bck-color: lighten( @body-color,16%);
@index-bck-color: lighten(@body-color,2);

body {
    background-color: @body-color;
}

.main {
    display: flex;
    padding: 10px;;
}

.frame {
    border-radius: 6px;
    padding: 10px;
    color: @font-color;
}

.header {
    .frame;
    background-color: @header-bck-color;
}

#help {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    }


.navigation {
    .frame;
    background-color: @header-bck-color;
    min-width: 285px;
}

.content {
    flex: 9;
    padding: 0px 5px 0px 5px ;
}


.schema-types {
    display: flex;
    flex-wrap: wrap;
    border-radius: 6px;
    padding: 5px;
    background-color: @section-bck-color;
}

.index {
    position: fixed;
    top: 30px;
}

.list-group-item {
    background-color: @index-bck-color;//@section-bck-color;
    border: 1px solid lighten(@index-bck-color,10%);
}

a.list-group-item {
        color: lighten(grey,10%);
        &:hover {
            background-color: darken(@section-bck-color,10%);
            color: contrast(darken(@section-bck-color,10%));
        }

}

.section-title {
    background-color: @section-header-bck-color;
   .frame;
}

.section-desc {
    .frame;
    margin-bottom: 5px;
    background-color: @section-desc-bck-color;
    code {
        color: desaturate(@yellow-google,25%);
        background-color: lighten(@section-bck-color,7%);
    }
}



.header-help {
    .section-desc;
    margin: 3px;
    flex: 1 0 330px;
    background-color: @section-desc-bck-color;
}


section {
    margin-bottom: 20px;
}


//________________________________________________
//                                                |
//         Hide clean button when one shot        |
//                                                |
//________________________________________________|


#action-one-shot-clean {
    visibility: hidden;
}



.btn-compile {

    margin-top: 3px;
}

.playground {

    width: 800px;
}

.play-body {
    display: flex;
}

.play-source {
    margin: 4px;
    flex: 1.2;
}

.play-render {
    margin: 4px;
    flex: 1;
}

img.logo-small {
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: 25px;
    left: 25px;
}
