/* MIXINS */

/* As hex codes */

/* MIXINS */

/* As hex codes */

@color-primary-0: #617E95;	/* Main Primary color */
@color-primary-1: #A2B2BE;
@color-primary-2: #7D94A5;
@color-primary-3: #476A85;
@color-primary-4: #2D5573;

@color-secondary-1-0: #965F96;	/* Main Secondary color (1) */
@color-secondary-1-1: #BFA1BF;
@color-secondary-1-2: #A67CA6;
@color-secondary-1-3: #864386;
@color-secondary-1-4: #742974;

@color-secondary-2-0: #D1DF8D;	/* Main Secondary color (2) */
@color-secondary-2-1: #F2F9D2;
@color-secondary-2-2: #EBF6B7;
@color-secondary-2-3: #B6C764;
@color-secondary-2-4: rgb(56,	185,	145	); //#99AC3D;

@color-complement-0: #E7C392;	/* Main Complement color */
@color-complement-1: #FFEED7;
@color-complement-2: #FFE3BE;
@color-complement-3: darken(#F2BE22,10%);//darken(rgb(231,	166,	54	),5%);//#CEA268;
@color-complement-4: #B2813F;

.schema-types {
    display: flex;
    flex-wrap: wrap;
    background-color: #EEE;
    border-radius: 6px;
    padding: 6px;
}

.panel-demo(@color) {
    @bck-color: lighten(@color,35%);
    border-color: desaturate(@color,20%);
    background-color: @bck-color;

   .panel-title, .panel-heading {
           background-color: @color;
           color: contrast(@color);
       }

    > .panel-body {
        background-color: @bck-color;
        border-radius: 4px;
        background: linear-gradient(90deg,
                    @bck-color,
                    rgba(255, 255, 255, 0.6) 2%,
                    @bck-color 4%,
                    @bck-color,
                    @bck-color 96%,
                    rgba(255, 255, 255, 0.6) 99%,
                    @bck-color) ;
    }

    .panel-heading {
       position: relative;
       z-index: 0;
      label {
        position: relative;
        z-index: 2;
      }
         &::before {
            content: "";
            width: 45px;
            height: 18px;
            top: 1px;
            left: 2px;
            border-radius: 4px;
            background: radial-gradient(circle at 38px 38px, @color 70%, rgba(255, 255, 255, 0.6) 88%);
            position: absolute;
            z-index: 1;
            }
        &::after {
            content: "";
            width: 30px;
            height: 10px;
            top: 1px;
            right: 1px;
            border-radius: 4px;
            background: radial-gradient(circle at 4px 29px, @color 68%, rgba(255, 255, 255, 0.6) 88%);
            position: absolute;
            z-index: 1;
            }
    }

}


.demo {
    width: 400px;
    margin: 4px;
    box-shadow: 2px 3px 7px 0px #999;

}


button.disabled {

    display: none;
}


.demo-footer {
        position: relative;
        &::after {
                    content: "";
                    width: 40px;
                    height: 15px;
                    bottom: 7px;
                    right: 7px;
                    border-radius: 4px;
                    background: radial-gradient(circle at 6px -17px, rgba(225, 225, 225, 0.1) 60%, #ffffff);
                    position: absolute;
                    z-index: 1;
        }
    }



.add-top-reflect(@color) {
        position: relative;
       z-index: 0;
      label {
        position: relative;
        z-index: 2;
      }
         &::before {
            content: "";
            width: 45px;
            height: 28px;
            top: 1px;
            left: 2px;
            border-top-left-radius: 4px;
            background: radial-gradient(circle at 38px 38px, @color 70%, rgba(255, 255, 255, 0.6) 88%);
            position: absolute;
            z-index: 1;
            }
        &::after {
            content: "";
            width: 30px;
            height: 10px;
            top: 1px;
            right: 1px;
            border-radius: 4px;
            background: radial-gradient(circle at 4px 29px, @color 68%, rgba(255, 255, 255, 0.6) 88%);
            position: absolute;
            z-index: 1;
            }
}
.add-bottom-reflect(@color){
        position: relative;
         &::before {
               content: "";
                   width: 40px;
                   height: 16px;
                   bottom: 1px;
                   left: 1px;
                   border-bottom-left-radius: 6px;
                   background: radial-gradient(circle at 5px 23px, rgba(255, 255, 255, 0.9),@color 55%);
                   position: absolute;
                   z-index: 1;
                }
        &::after {
                    content: "";
                    width: 40px;
                    height: 15px;
                    bottom: 2px;
                    right: 1px;
                    border-bottom-right-radius: 3px;
                    background: radial-gradient(circle at 6px -17px, @color 60%,rgba(255, 255, 255, 0.6));
                    position: absolute;
                    z-index: 1;
        }

}


.add-body-reflect(@color){
     background: linear-gradient(90deg,
                    darken(@color,10%),
                    rgba(255, 255, 255, 0.3) 1%,
                    @color 2%,
                    @color,
                    @color 98%,
                    rgba(255, 255, 255, 0.3) 99%,
                    darken(@color,10%)) ;
}

.card(@color) {
    @bck-color: lighten(@color,35%);
    @border-color: desaturate(@color,20%);
    margin: 7px;
    border-radius: 6px;
    border: 1px solid @border-color;
    width: 400px;
    box-shadow: 2px 3px 7px 0px #999;

    display: flex;

    flex-direction: column;
    justify-content: space-between;


    .card-header {
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        background-color: @color;
        padding: 10px 5px 5px 15px;
        .add-top-reflect(@color);
        color: contrast(@color);
    }


    .card-body {
        height: 100%;
        padding:10px;
       .add-body-reflect(@bck-color);
    }

    .card-footer {
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        background-color: @color;
        padding: 0px;
        height: 1.3em;
        .add-bottom-reflect(@color);
    }
}


.card-string {
    .card(@color-secondary-1-0);
}

.card-numeric {
    .card(@color-primary-3);
}

.card-inst {
    .card(@color-complement-3);

}

.card-enum {
    .card(@color-secondary-2-4);
}

.card-bool {
    .card(grey);
}


.card-action-light {
    .card(@color-primary-2);
}


.card-action {
    .card(@color-primary-3);
}

.card-action-dark {
    .card(@color-primary-4);
}


.card- {
    .card(lightgrey);
}


//________________________________________________
//                                                |
//         Main container                         |
//                                                |
//________________________________________________|


#main {
    display: flex;
    padding: 2rem;
}

#navigation {
    flex: 2;
    border-radius: 6px;
    padding: 5px;
    background-color: #aab;
    min-width: 250px;
}

#content {
    flex: 9;
    padding: 5px;
}

#index {

    position: fixed;
    top: 30px;
}

.section-title {
    background-color: #EEE;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 5px;

}

//________________________________________________
//                                                |
//         Hide clean button when one shot        |
//                                                |
//________________________________________________|


#action-one-shot-clean {
    visibility: hidden;
}