/* some style */



#schema-types {
    display: flex;
    flex-wrap: wrap;
}

.demo {
    width: 400px;
    margin: 4px;
    box-shadow: 2px 3px 7px 0px #999;
}


.demo-body {
    background-color: #EEE;
}

button.disabled {

    display: none;
}


