/* some style */



#schema-types {
    display: flex;
    flex-wrap: wrap;
}

.demo {
    width: 400px;
    padding: 1px;
}


.demo-body {
    background-color: #EEE;
}

button.disabled {

    display: none;
}


