/* MIXINS */
/* As hex codes */
/* MIXINS */
/* As hex codes */
/* Main Primary color */
/* Main Secondary color (1) */
/* Main Secondary color (2) */
/* Main Complement color */
.schema-types {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  background-color: #EEE;
  border-radius: 6px;
  padding: 6px;
}
.demo {
  width: 400px;
  margin: 4px;
  box-shadow: 2px 3px 7px 0px #999;
}
button.disabled {
  display: none;
}
.demo-footer {
  position: relative;
}
.demo-footer::after {
  content: "";
  width: 40px;
  height: 15px;
  bottom: 7px;
  right: 7px;
  border-radius: 4px;
  background: -webkit-radial-gradient(6px -17px, circle, rgba(225, 225, 225, 0.1) 60%, #ffffff);
  background: radial-gradient(circle at 6px -17px, rgba(225, 225, 225, 0.1) 60%, #ffffff);
  position: absolute;
  z-index: 1;
}
.card-string {
  margin: 7px;
  border-radius: 6px;
  border: 1px solid #7e787e;
  width: 400px;
  box-shadow: 2px 3px 7px 0px #999;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.card-string .card-header {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  background-color: #965f96;
  padding: 10px 5px 5px 15px;
  position: relative;
  z-index: 0;
  color: #ffffff;
}
.card-string .card-header label {
  position: relative;
  z-index: 2;
}
.card-string .card-header::before {
  content: "";
  width: 45px;
  height: 28px;
  top: 1px;
  left: 2px;
  border-top-left-radius: 4px;
  background: -webkit-radial-gradient(38px 38px, circle, #965f96 70%, rgba(255, 255, 255, 0.6) 88%);
  background: radial-gradient(circle at 38px 38px, #965f96 70%, rgba(255, 255, 255, 0.6) 88%);
  position: absolute;
  z-index: 1;
}
.card-string .card-header::after {
  content: "";
  width: 30px;
  height: 10px;
  top: 1px;
  right: 1px;
  border-radius: 4px;
  background: -webkit-radial-gradient(4px 29px, circle, #965f96 68%, rgba(255, 255, 255, 0.6) 88%);
  background: radial-gradient(circle at 4px 29px, #965f96 68%, rgba(255, 255, 255, 0.6) 88%);
  position: absolute;
  z-index: 1;
}
.card-string .card-body {
  height: 100%;
  padding: 10px;
  background: -webkit-linear-gradient(0deg, #caabca, rgba(255, 255, 255, 0.3) 1%, #ddcadd 2%, #ddcadd, #ddcadd 98%, rgba(255, 255, 255, 0.3) 99%, #caabca);
  background: linear-gradient(90deg, #caabca, rgba(255, 255, 255, 0.3) 1%, #ddcadd 2%, #ddcadd, #ddcadd 98%, rgba(255, 255, 255, 0.3) 99%, #caabca);
}
.card-string .card-footer {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  background-color: #965f96;
  padding: 0px;
  height: 1.3em;
  position: relative;
}
.card-string .card-footer::before {
  content: "";
  width: 40px;
  height: 16px;
  bottom: 1px;
  left: 1px;
  border-bottom-left-radius: 6px;
  background: -webkit-radial-gradient(5px 23px, circle, rgba(255, 255, 255, 0.9), #965f96 55%);
  background: radial-gradient(circle at 5px 23px, rgba(255, 255, 255, 0.9), #965f96 55%);
  position: absolute;
  z-index: 1;
}
.card-string .card-footer::after {
  content: "";
  width: 40px;
  height: 15px;
  bottom: 2px;
  right: 1px;
  border-bottom-right-radius: 3px;
  background: -webkit-radial-gradient(6px -17px, circle, #965f96 60%, rgba(255, 255, 255, 0.6));
  background: radial-gradient(circle at 6px -17px, #965f96 60%, rgba(255, 255, 255, 0.6));
  position: absolute;
  z-index: 1;
}
.card-numeric {
  margin: 7px;
  border-radius: 6px;
  border: 1px solid #5b6771;
  width: 400px;
  box-shadow: 2px 3px 7px 0px #999;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.card-numeric .card-header {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  background-color: #476a85;
  padding: 10px 5px 5px 15px;
  position: relative;
  z-index: 0;
  color: #ffffff;
}
.card-numeric .card-header label {
  position: relative;
  z-index: 2;
}
.card-numeric .card-header::before {
  content: "";
  width: 45px;
  height: 28px;
  top: 1px;
  left: 2px;
  border-top-left-radius: 4px;
  background: -webkit-radial-gradient(38px 38px, circle, #476a85 70%, rgba(255, 255, 255, 0.6) 88%);
  background: radial-gradient(circle at 38px 38px, #476a85 70%, rgba(255, 255, 255, 0.6) 88%);
  position: absolute;
  z-index: 1;
}
.card-numeric .card-header::after {
  content: "";
  width: 30px;
  height: 10px;
  top: 1px;
  right: 1px;
  border-radius: 4px;
  background: -webkit-radial-gradient(4px 29px, circle, #476a85 68%, rgba(255, 255, 255, 0.6) 88%);
  background: radial-gradient(circle at 4px 29px, #476a85 68%, rgba(255, 255, 255, 0.6) 88%);
  position: absolute;
  z-index: 1;
}
.card-numeric .card-body {
  height: 100%;
  padding: 10px;
  background: -webkit-linear-gradient(0deg, #8ba9c1, rgba(255, 255, 255, 0.3) 1%, #acc2d3 2%, #acc2d3, #acc2d3 98%, rgba(255, 255, 255, 0.3) 99%, #8ba9c1);
  background: linear-gradient(90deg, #8ba9c1, rgba(255, 255, 255, 0.3) 1%, #acc2d3 2%, #acc2d3, #acc2d3 98%, rgba(255, 255, 255, 0.3) 99%, #8ba9c1);
}
.card-numeric .card-footer {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  background-color: #476a85;
  padding: 0px;
  height: 1.3em;
  position: relative;
}
.card-numeric .card-footer::before {
  content: "";
  width: 40px;
  height: 16px;
  bottom: 1px;
  left: 1px;
  border-bottom-left-radius: 6px;
  background: -webkit-radial-gradient(5px 23px, circle, rgba(255, 255, 255, 0.9), #476a85 55%);
  background: radial-gradient(circle at 5px 23px, rgba(255, 255, 255, 0.9), #476a85 55%);
  position: absolute;
  z-index: 1;
}
.card-numeric .card-footer::after {
  content: "";
  width: 40px;
  height: 15px;
  bottom: 2px;
  right: 1px;
  border-bottom-right-radius: 3px;
  background: -webkit-radial-gradient(6px -17px, circle, #476a85 60%, rgba(255, 255, 255, 0.6));
  background: radial-gradient(circle at 6px -17px, #476a85 60%, rgba(255, 255, 255, 0.6));
  position: absolute;
  z-index: 1;
}
.card-inst {
  margin: 7px;
  border-radius: 6px;
  border: 1px solid #be9723;
  width: 400px;
  box-shadow: 2px 3px 7px 0px #999;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.card-inst .card-header {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  background-color: #d4a30d;
  padding: 10px 5px 5px 15px;
  position: relative;
  z-index: 0;
  color: #ffffff;
}
.card-inst .card-header label {
  position: relative;
  z-index: 2;
}
.card-inst .card-header::before {
  content: "";
  width: 45px;
  height: 28px;
  top: 1px;
  left: 2px;
  border-top-left-radius: 4px;
  background: -webkit-radial-gradient(38px 38px, circle, #d4a30d 70%, rgba(255, 255, 255, 0.6) 88%);
  background: radial-gradient(circle at 38px 38px, #d4a30d 70%, rgba(255, 255, 255, 0.6) 88%);
  position: absolute;
  z-index: 1;
}
.card-inst .card-header::after {
  content: "";
  width: 30px;
  height: 10px;
  top: 1px;
  right: 1px;
  border-radius: 4px;
  background: -webkit-radial-gradient(4px 29px, circle, #d4a30d 68%, rgba(255, 255, 255, 0.6) 88%);
  background: radial-gradient(circle at 4px 29px, #d4a30d 68%, rgba(255, 255, 255, 0.6) 88%);
  position: absolute;
  z-index: 1;
}
.card-inst .card-body {
  height: 100%;
  padding: 10px;
  background: -webkit-linear-gradient(0deg, #f6d36a, rgba(255, 255, 255, 0.3) 1%, #f9e19a 2%, #f9e19a, #f9e19a 98%, rgba(255, 255, 255, 0.3) 99%, #f6d36a);
  background: linear-gradient(90deg, #f6d36a, rgba(255, 255, 255, 0.3) 1%, #f9e19a 2%, #f9e19a, #f9e19a 98%, rgba(255, 255, 255, 0.3) 99%, #f6d36a);
}
.card-inst .card-footer {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  background-color: #d4a30d;
  padding: 0px;
  height: 1.3em;
  position: relative;
}
.card-inst .card-footer::before {
  content: "";
  width: 40px;
  height: 16px;
  bottom: 1px;
  left: 1px;
  border-bottom-left-radius: 6px;
  background: -webkit-radial-gradient(5px 23px, circle, rgba(255, 255, 255, 0.9), #d4a30d 55%);
  background: radial-gradient(circle at 5px 23px, rgba(255, 255, 255, 0.9), #d4a30d 55%);
  position: absolute;
  z-index: 1;
}
.card-inst .card-footer::after {
  content: "";
  width: 40px;
  height: 15px;
  bottom: 2px;
  right: 1px;
  border-bottom-right-radius: 3px;
  background: -webkit-radial-gradient(6px -17px, circle, #d4a30d 60%, rgba(255, 255, 255, 0.6));
  background: radial-gradient(circle at 6px -17px, #d4a30d 60%, rgba(255, 255, 255, 0.6));
  position: absolute;
  z-index: 1;
}
.card-enum {
  margin: 7px;
  border-radius: 6px;
  border: 1px solid #50a188;
  width: 400px;
  box-shadow: 2px 3px 7px 0px #999;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.card-enum .card-header {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  background-color: #38b991;
  padding: 10px 5px 5px 15px;
  position: relative;
  z-index: 0;
  color: #ffffff;
}
.card-enum .card-header label {
  position: relative;
  z-index: 2;
}
.card-enum .card-header::before {
  content: "";
  width: 45px;
  height: 28px;
  top: 1px;
  left: 2px;
  border-top-left-radius: 4px;
  background: -webkit-radial-gradient(38px 38px, circle, #38b991 70%, rgba(255, 255, 255, 0.6) 88%);
  background: radial-gradient(circle at 38px 38px, #38b991 70%, rgba(255, 255, 255, 0.6) 88%);
  position: absolute;
  z-index: 1;
}
.card-enum .card-header::after {
  content: "";
  width: 30px;
  height: 10px;
  top: 1px;
  right: 1px;
  border-radius: 4px;
  background: -webkit-radial-gradient(4px 29px, circle, #38b991 68%, rgba(255, 255, 255, 0.6) 88%);
  background: radial-gradient(circle at 4px 29px, #38b991 68%, rgba(255, 255, 255, 0.6) 88%);
  position: absolute;
  z-index: 1;
}
.card-enum .card-body {
  height: 100%;
  padding: 10px;
  background: -webkit-linear-gradient(0deg, #92dec7, rgba(255, 255, 255, 0.3) 1%, #baeadb 2%, #baeadb, #baeadb 98%, rgba(255, 255, 255, 0.3) 99%, #92dec7);
  background: linear-gradient(90deg, #92dec7, rgba(255, 255, 255, 0.3) 1%, #baeadb 2%, #baeadb, #baeadb 98%, rgba(255, 255, 255, 0.3) 99%, #92dec7);
}
.card-enum .card-footer {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  background-color: #38b991;
  padding: 0px;
  height: 1.3em;
  position: relative;
}
.card-enum .card-footer::before {
  content: "";
  width: 40px;
  height: 16px;
  bottom: 1px;
  left: 1px;
  border-bottom-left-radius: 6px;
  background: -webkit-radial-gradient(5px 23px, circle, rgba(255, 255, 255, 0.9), #38b991 55%);
  background: radial-gradient(circle at 5px 23px, rgba(255, 255, 255, 0.9), #38b991 55%);
  position: absolute;
  z-index: 1;
}
.card-enum .card-footer::after {
  content: "";
  width: 40px;
  height: 15px;
  bottom: 2px;
  right: 1px;
  border-bottom-right-radius: 3px;
  background: -webkit-radial-gradient(6px -17px, circle, #38b991 60%, rgba(255, 255, 255, 0.6));
  background: radial-gradient(circle at 6px -17px, #38b991 60%, rgba(255, 255, 255, 0.6));
  position: absolute;
  z-index: 1;
}
.card-bool {
  margin: 7px;
  border-radius: 6px;
  border: 1px solid #808080;
  width: 400px;
  box-shadow: 2px 3px 7px 0px #999;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.card-bool .card-header {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  background-color: grey;
  padding: 10px 5px 5px 15px;
  position: relative;
  z-index: 0;
  color: #ffffff;
}
.card-bool .card-header label {
  position: relative;
  z-index: 2;
}
.card-bool .card-header::before {
  content: "";
  width: 45px;
  height: 28px;
  top: 1px;
  left: 2px;
  border-top-left-radius: 4px;
  background: -webkit-radial-gradient(38px 38px, circle, grey 70%, rgba(255, 255, 255, 0.6) 88%);
  background: radial-gradient(circle at 38px 38px, grey 70%, rgba(255, 255, 255, 0.6) 88%);
  position: absolute;
  z-index: 1;
}
.card-bool .card-header::after {
  content: "";
  width: 30px;
  height: 10px;
  top: 1px;
  right: 1px;
  border-radius: 4px;
  background: -webkit-radial-gradient(4px 29px, circle, grey 68%, rgba(255, 255, 255, 0.6) 88%);
  background: radial-gradient(circle at 4px 29px, grey 68%, rgba(255, 255, 255, 0.6) 88%);
  position: absolute;
  z-index: 1;
}
.card-bool .card-body {
  height: 100%;
  padding: 10px;
  background: -webkit-linear-gradient(0deg, #c0c0c0, rgba(255, 255, 255, 0.3) 1%, #d9d9d9 2%, #d9d9d9, #d9d9d9 98%, rgba(255, 255, 255, 0.3) 99%, #c0c0c0);
  background: linear-gradient(90deg, #c0c0c0, rgba(255, 255, 255, 0.3) 1%, #d9d9d9 2%, #d9d9d9, #d9d9d9 98%, rgba(255, 255, 255, 0.3) 99%, #c0c0c0);
}
.card-bool .card-footer {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  background-color: grey;
  padding: 0px;
  height: 1.3em;
  position: relative;
}
.card-bool .card-footer::before {
  content: "";
  width: 40px;
  height: 16px;
  bottom: 1px;
  left: 1px;
  border-bottom-left-radius: 6px;
  background: -webkit-radial-gradient(5px 23px, circle, rgba(255, 255, 255, 0.9), grey 55%);
  background: radial-gradient(circle at 5px 23px, rgba(255, 255, 255, 0.9), grey 55%);
  position: absolute;
  z-index: 1;
}
.card-bool .card-footer::after {
  content: "";
  width: 40px;
  height: 15px;
  bottom: 2px;
  right: 1px;
  border-bottom-right-radius: 3px;
  background: -webkit-radial-gradient(6px -17px, circle, grey 60%, rgba(255, 255, 255, 0.6));
  background: radial-gradient(circle at 6px -17px, grey 60%, rgba(255, 255, 255, 0.6));
  position: absolute;
  z-index: 1;
}
.card-action-light {
  margin: 7px;
  border-radius: 6px;
  border: 1px solid #919191;
  width: 400px;
  box-shadow: 2px 3px 7px 0px #999;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.card-action-light .card-header {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  background-color: #7d94a5;
  padding: 10px 5px 5px 15px;
  position: relative;
  z-index: 0;
  color: #ffffff;
}
.card-action-light .card-header label {
  position: relative;
  z-index: 2;
}
.card-action-light .card-header::before {
  content: "";
  width: 45px;
  height: 28px;
  top: 1px;
  left: 2px;
  border-top-left-radius: 4px;
  background: -webkit-radial-gradient(38px 38px, circle, #7d94a5 70%, rgba(255, 255, 255, 0.6) 88%);
  background: radial-gradient(circle at 38px 38px, #7d94a5 70%, rgba(255, 255, 255, 0.6) 88%);
  position: absolute;
  z-index: 1;
}
.card-action-light .card-header::after {
  content: "";
  width: 30px;
  height: 10px;
  top: 1px;
  right: 1px;
  border-radius: 4px;
  background: -webkit-radial-gradient(4px 29px, circle, #7d94a5 68%, rgba(255, 255, 255, 0.6) 88%);
  background: radial-gradient(circle at 4px 29px, #7d94a5 68%, rgba(255, 255, 255, 0.6) 88%);
  position: absolute;
  z-index: 1;
}
.card-action-light .card-body {
  height: 100%;
  padding: 10px;
  background: -webkit-linear-gradient(0deg, #c8d2d9, rgba(255, 255, 255, 0.3) 1%, #e6ebee 2%, #e6ebee, #e6ebee 98%, rgba(255, 255, 255, 0.3) 99%, #c8d2d9);
  background: linear-gradient(90deg, #c8d2d9, rgba(255, 255, 255, 0.3) 1%, #e6ebee 2%, #e6ebee, #e6ebee 98%, rgba(255, 255, 255, 0.3) 99%, #c8d2d9);
}
.card-action-light .card-footer {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  background-color: #7d94a5;
  padding: 0px;
  height: 1.3em;
  position: relative;
}
.card-action-light .card-footer::before {
  content: "";
  width: 40px;
  height: 16px;
  bottom: 1px;
  left: 1px;
  border-bottom-left-radius: 6px;
  background: -webkit-radial-gradient(5px 23px, circle, rgba(255, 255, 255, 0.9), #7d94a5 55%);
  background: radial-gradient(circle at 5px 23px, rgba(255, 255, 255, 0.9), #7d94a5 55%);
  position: absolute;
  z-index: 1;
}
.card-action-light .card-footer::after {
  content: "";
  width: 40px;
  height: 15px;
  bottom: 2px;
  right: 1px;
  border-bottom-right-radius: 3px;
  background: -webkit-radial-gradient(6px -17px, circle, #7d94a5 60%, rgba(255, 255, 255, 0.6));
  background: radial-gradient(circle at 6px -17px, #7d94a5 60%, rgba(255, 255, 255, 0.6));
  position: absolute;
  z-index: 1;
}
.card-action {
  margin: 7px;
  border-radius: 6px;
  border: 1px solid #5b6771;
  width: 400px;
  box-shadow: 2px 3px 7px 0px #999;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.card-action .card-header {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  background-color: #476a85;
  padding: 10px 5px 5px 15px;
  position: relative;
  z-index: 0;
  color: #ffffff;
}
.card-action .card-header label {
  position: relative;
  z-index: 2;
}
.card-action .card-header::before {
  content: "";
  width: 45px;
  height: 28px;
  top: 1px;
  left: 2px;
  border-top-left-radius: 4px;
  background: -webkit-radial-gradient(38px 38px, circle, #476a85 70%, rgba(255, 255, 255, 0.6) 88%);
  background: radial-gradient(circle at 38px 38px, #476a85 70%, rgba(255, 255, 255, 0.6) 88%);
  position: absolute;
  z-index: 1;
}
.card-action .card-header::after {
  content: "";
  width: 30px;
  height: 10px;
  top: 1px;
  right: 1px;
  border-radius: 4px;
  background: -webkit-radial-gradient(4px 29px, circle, #476a85 68%, rgba(255, 255, 255, 0.6) 88%);
  background: radial-gradient(circle at 4px 29px, #476a85 68%, rgba(255, 255, 255, 0.6) 88%);
  position: absolute;
  z-index: 1;
}
.card-action .card-body {
  height: 100%;
  padding: 10px;
  background: -webkit-linear-gradient(0deg, #8ba9c1, rgba(255, 255, 255, 0.3) 1%, #acc2d3 2%, #acc2d3, #acc2d3 98%, rgba(255, 255, 255, 0.3) 99%, #8ba9c1);
  background: linear-gradient(90deg, #8ba9c1, rgba(255, 255, 255, 0.3) 1%, #acc2d3 2%, #acc2d3, #acc2d3 98%, rgba(255, 255, 255, 0.3) 99%, #8ba9c1);
}
.card-action .card-footer {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  background-color: #476a85;
  padding: 0px;
  height: 1.3em;
  position: relative;
}
.card-action .card-footer::before {
  content: "";
  width: 40px;
  height: 16px;
  bottom: 1px;
  left: 1px;
  border-bottom-left-radius: 6px;
  background: -webkit-radial-gradient(5px 23px, circle, rgba(255, 255, 255, 0.9), #476a85 55%);
  background: radial-gradient(circle at 5px 23px, rgba(255, 255, 255, 0.9), #476a85 55%);
  position: absolute;
  z-index: 1;
}
.card-action .card-footer::after {
  content: "";
  width: 40px;
  height: 15px;
  bottom: 2px;
  right: 1px;
  border-bottom-right-radius: 3px;
  background: -webkit-radial-gradient(6px -17px, circle, #476a85 60%, rgba(255, 255, 255, 0.6));
  background: radial-gradient(circle at 6px -17px, #476a85 60%, rgba(255, 255, 255, 0.6));
  position: absolute;
  z-index: 1;
}
.card-action-dark {
  margin: 7px;
  border-radius: 6px;
  border: 1px solid #3d5363;
  width: 400px;
  box-shadow: 2px 3px 7px 0px #999;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.card-action-dark .card-header {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  background-color: #2d5573;
  padding: 10px 5px 5px 15px;
  position: relative;
  z-index: 0;
  color: #ffffff;
}
.card-action-dark .card-header label {
  position: relative;
  z-index: 2;
}
.card-action-dark .card-header::before {
  content: "";
  width: 45px;
  height: 28px;
  top: 1px;
  left: 2px;
  border-top-left-radius: 4px;
  background: -webkit-radial-gradient(38px 38px, circle, #2d5573 70%, rgba(255, 255, 255, 0.6) 88%);
  background: radial-gradient(circle at 38px 38px, #2d5573 70%, rgba(255, 255, 255, 0.6) 88%);
  position: absolute;
  z-index: 1;
}
.card-action-dark .card-header::after {
  content: "";
  width: 30px;
  height: 10px;
  top: 1px;
  right: 1px;
  border-radius: 4px;
  background: -webkit-radial-gradient(4px 29px, circle, #2d5573 68%, rgba(255, 255, 255, 0.6) 88%);
  background: radial-gradient(circle at 4px 29px, #2d5573 68%, rgba(255, 255, 255, 0.6) 88%);
  position: absolute;
  z-index: 1;
}
.card-action-dark .card-body {
  height: 100%;
  padding: 10px;
  background: -webkit-linear-gradient(0deg, #5f97c0, rgba(255, 255, 255, 0.3) 1%, #84afcf 2%, #84afcf, #84afcf 98%, rgba(255, 255, 255, 0.3) 99%, #5f97c0);
  background: linear-gradient(90deg, #5f97c0, rgba(255, 255, 255, 0.3) 1%, #84afcf 2%, #84afcf, #84afcf 98%, rgba(255, 255, 255, 0.3) 99%, #5f97c0);
}
.card-action-dark .card-footer {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  background-color: #2d5573;
  padding: 0px;
  height: 1.3em;
  position: relative;
}
.card-action-dark .card-footer::before {
  content: "";
  width: 40px;
  height: 16px;
  bottom: 1px;
  left: 1px;
  border-bottom-left-radius: 6px;
  background: -webkit-radial-gradient(5px 23px, circle, rgba(255, 255, 255, 0.9), #2d5573 55%);
  background: radial-gradient(circle at 5px 23px, rgba(255, 255, 255, 0.9), #2d5573 55%);
  position: absolute;
  z-index: 1;
}
.card-action-dark .card-footer::after {
  content: "";
  width: 40px;
  height: 15px;
  bottom: 2px;
  right: 1px;
  border-bottom-right-radius: 3px;
  background: -webkit-radial-gradient(6px -17px, circle, #2d5573 60%, rgba(255, 255, 255, 0.6));
  background: radial-gradient(circle at 6px -17px, #2d5573 60%, rgba(255, 255, 255, 0.6));
  position: absolute;
  z-index: 1;
}
.card- {
  margin: 7px;
  border-radius: 6px;
  border: 1px solid #d3d3d3;
  width: 400px;
  box-shadow: 2px 3px 7px 0px #999;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.card- .card-header {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  background-color: lightgrey;
  padding: 10px 5px 5px 15px;
  position: relative;
  z-index: 0;
  color: #000000;
}
.card- .card-header label {
  position: relative;
  z-index: 2;
}
.card- .card-header::before {
  content: "";
  width: 45px;
  height: 28px;
  top: 1px;
  left: 2px;
  border-top-left-radius: 4px;
  background: -webkit-radial-gradient(38px 38px, circle, lightgrey 70%, rgba(255, 255, 255, 0.6) 88%);
  background: radial-gradient(circle at 38px 38px, lightgrey 70%, rgba(255, 255, 255, 0.6) 88%);
  position: absolute;
  z-index: 1;
}
.card- .card-header::after {
  content: "";
  width: 30px;
  height: 10px;
  top: 1px;
  right: 1px;
  border-radius: 4px;
  background: -webkit-radial-gradient(4px 29px, circle, lightgrey 68%, rgba(255, 255, 255, 0.6) 88%);
  background: radial-gradient(circle at 4px 29px, lightgrey 68%, rgba(255, 255, 255, 0.6) 88%);
  position: absolute;
  z-index: 1;
}
.card- .card-body {
  height: 100%;
  padding: 10px;
  background: -webkit-linear-gradient(0deg, #e6e6e6, rgba(255, 255, 255, 0.3) 1%, #ffffff 2%, #ffffff, #ffffff 98%, rgba(255, 255, 255, 0.3) 99%, #e6e6e6);
  background: linear-gradient(90deg, #e6e6e6, rgba(255, 255, 255, 0.3) 1%, #ffffff 2%, #ffffff, #ffffff 98%, rgba(255, 255, 255, 0.3) 99%, #e6e6e6);
}
.card- .card-footer {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  background-color: lightgrey;
  padding: 0px;
  height: 1.3em;
  position: relative;
}
.card- .card-footer::before {
  content: "";
  width: 40px;
  height: 16px;
  bottom: 1px;
  left: 1px;
  border-bottom-left-radius: 6px;
  background: -webkit-radial-gradient(5px 23px, circle, rgba(255, 255, 255, 0.9), lightgrey 55%);
  background: radial-gradient(circle at 5px 23px, rgba(255, 255, 255, 0.9), lightgrey 55%);
  position: absolute;
  z-index: 1;
}
.card- .card-footer::after {
  content: "";
  width: 40px;
  height: 15px;
  bottom: 2px;
  right: 1px;
  border-bottom-right-radius: 3px;
  background: -webkit-radial-gradient(6px -17px, circle, lightgrey 60%, rgba(255, 255, 255, 0.6));
  background: radial-gradient(circle at 6px -17px, lightgrey 60%, rgba(255, 255, 255, 0.6));
  position: absolute;
  z-index: 1;
}
#main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem;
}
#navigation {
  -webkit-box-flex: 2;
  -webkit-flex: 2;
      -ms-flex: 2;
          flex: 2;
  border-radius: 6px;
  padding: 5px;
  background-color: #aab;
}
#content {
  -webkit-box-flex: 9;
  -webkit-flex: 9;
      -ms-flex: 9;
          flex: 9;
  padding: 5px;
}
#index {
  position: fixed;
  top: 30px;
}
.section-title {
  background-color: #EEE;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 5px;
}
#action-one-shot-clean {
  visibility: hidden;
}
